<div class="flex flex-col items-center justify-center min-h-screen ">
    <div class="mb-4 text-center">
        <h2 class="text-2xl font-bold text-gray-900">¡Bienvenido a nuestro sitio!</h2>
        <p class="text-sm text-gray-600">Estamos encantados de tenerte aquí.</p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md">
        <div class="text-center mb-6">
            <img class="w-24 h-24 rounded-full mx-auto" src="assets/victor.jpg" alt="User Avatar">
            <h3 class="text-xl font-bold text-gray-900 mt-4">{{ user.email }}</h3>
            <p class="text-sm text-gray-600">Desarrollador Backend</p>
        </div>
        <div class="text-center">
            <p class="text-sm text-gray-600 mb-4">Soy un desarrollador backend con más de 5 años de experiencia en la
                creación de aplicaciones web escalables y seguras. Me apasiona aprender nuevas tecnologías y mejorar
                continuamente mis habilidades.</p>
        </div>
    </div>
</div>